
#form{
    background: #ececec;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 1rem;
}
input{
    height: 1.3rem;
}
select{
    height: 1.5rem;
}
label{
    font-weight: 900;
    font-size: 1.1rem;
}
input{
    width: "100vw";
}

button{
    width: fit-content;
    padding: 0.7rem;
    background: #027f7b;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}
